﻿.ax_default {
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.box_4 {
  color:#FFFFFF;
}
.ellipse {
}
.image {
}
.placeholder {
}
.primary_button {
  font-size:20px;
  color:#FFFFFF;
}
.link_button {
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#091E1B;
}
.heading_1 {
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#36A671;
  text-align:left;
}
.heading_2 {
  font-family:'Verdana';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#36A671;
  text-align:left;
}
.heading_4 {
  font-family:'Verdana';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Verdana';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Verdana';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-family:'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#636363;
  text-align:left;
}
.paragraph {
  font-size:16px;
  color:#8A8A8A;
  text-align:left;
  line-height:20px;
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.line {
}
.arrow {
}
.text_field {
  font-size:18px;
  color:#8A8A8A;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  font-size:18px;
  color:#8A8A8A;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.html_button {
  text-align:center;
}
.tree_node {
  text-align:left;
}
.table_cell {
}
.snapshot {
}
.flow_shape {
}
.shape {
}
.logo {
  font-family:'Montserrat';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#105978;
  text-align:left;
}
.icon {
}
.news_para {
  font-size:15px;
  color:#8A8A8A;
  text-align:left;
  line-height:20px;
}
.green_label {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#36A671;
  text-align:left;
}
.tab {
  font-size:18px;
}
.shape1 {
  font-size:14px;
}
.table {
}
.table_cell1 {
}
.shape2 {
}
.image1 {
  color:#000000;
}
.custom_button {
  color:#FFFFFF;
}
.custom_button_icon {
}
.custom_input_label {
  font-size:32px;
  color:#8A8A8A;
  text-align:left;
}
.custom_input_tick_mark {
}
.custom_input_background {
}
.custom_input_background__selected_ {
}
.custom_droplist_option {
  font-size:20px;
  color:#8A8A8A;
}
.custom_droplist_background {
}
.custom_date_picker_day_-_current {
}
.custom_date_picker_day_-_not_current {
  color:#CCCCCC;
}
.custom_date_picker_day_-_today {
  color:#4CC189;
}
